.container-center {
    flex: 1;
    position: relative;
}
.container-center .temp,
.container-center .conditions {
    font-size: 35px;
    margin: 0;
}
.cover-search {
    width: 50%;
    margin: 20px auto;
    max-width: 950px;
}
.cover-search {
    width: 80%;
}
@media only screen and (max-width : 768px) {
    .container-center .temp,
    .container-center .conditions {
        font-size: 25px;
        margin: 0;
    }
}