.container-center {
    flex: 1;
    position: relative;
}
.container-center .temp,
.container-center .conditions {
    font-size: 35px;
    margin: 0;
    display: block;
}
.cover-search {
    width: 50%;
    margin: 20px auto;
    max-width: 950px;
    position: relative;
}
.cover-search {
    width: 80%;
}
.result-search{
    background-color: #6D8CA0;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    text-align: left;
    max-height: 220px;
    overflow-y: scroll;
    z-index: 5;
}
.result-search div{
    padding: 6px;
    border-bottom: 1px solid #fff;
}
.faTimes{
    position: absolute;
    top: 6px;
    right: 0; 
}
@media only screen and (max-width : 768px) {
    .container-center .temp,
    .container-center .conditions {
        font-size: 25px;
        margin: 0;
    }
}