<app-search></app-search>

<div class="container-center">
    <div class="item-center">
        <div>
            <h1 class="location">Chicago, IL</h1>
            <h2 class="date">Sunday, January 1, 2017</h2>
            <div class="weatherIcon">
                <div class="mostlycloudy">
                    <div class="inner"></div>
                </div>
            </div>
            <p class="temp">72</p>
            <p class="conditions">Sunny</p>
        </div>
    </div>
    <app-side-buttons></app-side-buttons>
</div>

<app-daily-forecast></app-daily-forecast>