
<app-search></app-search>
<div class="container-center">
    <div class="item-center">
        <div>
            <h1 class="location">{{currentWeather?.Name}}</h1>
            <h2 class="date">{{currentWeather?.DateTime | date}}</h2>
            <app-icon [type]='currentWeather?.WeatherIcon'></app-icon>
            <app-temperature class="temp" [temperature]="currentWeather?.Temperature"></app-temperature>
            <p class="conditions">{{currentWeather?.WeatherText}}</p>
        </div>
    </div>
    <app-side-buttons [weatherKey]="currentWeather?.Key"></app-side-buttons>
</div>

<app-daily-forecast [forecast]="currentWeather?.DailyForecasts"></app-daily-forecast>