<div class="cover-search">
    <input type="search" placeholder="Search" (keyup)="onKey($event)">
</div>
<div class="container-center">
    <div class="item-center">
        <div>
            <h1 class="location">Chicago, IL</h1>
            <h2 class="date">Sunday, January 1, 2017</h2>
            <app-icon></app-icon>
            <p class="temp">72</p>
            <p class="conditions">Sunny</p>
        </div>
    </div>
    <app-side-buttons></app-side-buttons>
</div>
<app-daily-forecast></app-daily-forecast>