<div class="row item-favorites">
    <div class="col">
        <div class="item-center">
            <div>
                <p class="location">Chicago, IL</p>
                <p class="temp">72</p>
                <p class="conditions">Sunny</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="weatherIcon weatherIcon-small">
            <div class="mostlycloudy">
                <div class="inner"></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="item-center">
            <div>
                <button>
                    <fa-icon class="fa" [icon]="faMinus"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>