<div class="row item-favorites">
    <div class="col">
        <div class="item-center">
            <div>
                <p class="location">{{favorite?.Name}} <span class="temp">72</span></p>
                <p class="conditions">{{favorite?.WeatherText}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="item-center">
            <div>
                <app-icon [small]='true' [type]='favorite?.WeatherIcon'></app-icon>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="item-center">
            <div>
                <favorite [id]='favorite?.Key' [type]="'favorite'"></favorite>
            </div>
        </div>
    </div>
</div>